.text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #131313;
    border: solid 4px #131313;
    text-align: center;
    width: 70px;
    height: 20px;
    font-size: 20px;
    padding: 5px;
    background-color: #ff3131;
    box-shadow: 2.5px 5px 5px #131313;
    text-shadow: 1px 2px 3px #131313;
    transition: 1s;
}
.red {
    background-color: #ff3131;
    color: #131313;
    box-shadow: 2.5px 5px 5px #ff3131;
    text-shadow: 2.5px 5px 5px #131313;
}
.black {
    background-color: #131313;
    color: #ff3131;
    box-shadow: 2.5px 5px 5px #131313;
    text-shadow: 2.5px 5px 5px #ff3131;
}
.button {
    border-radius: 8px;
    font-size: 30px;
    padding: 5px;
    transition: 0.25s;
}
.redText {
    color: #ff3131;
    border-color: #ff3131;
    background-color: #131313;
    box-shadow: 2.5px 5px 5px #ff3131;
    text-shadow: 1px 2px 3px #ff3131;
}
.blackText {
    color: #131313;
    border: solid 4px #131313;
    background-color: #ff3131;
    box-shadow: 2.5px 5px 5px #131313;
    text-shadow: 1px 2px 3px #131313;
}
.red:hover {
    box-shadow: 5px 10px 5px #131313;
}
.black:hover {
    box-shadow: 5px 10px 5px #ff3131;
}